.postagem{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.post{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.barra_curtidas{
    width: 100%;
    justify-content: start;
}

.comentar{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

p{
    text-align: start;
    width: 100%;
}